$popover-font: 14px/16px "Helvetica Neue", Helvetica, sans-serif;
$popover-width: 115px;
$popover-height: 38px;
$popover-margin: 7px;
$popover-offset: $popover-height * 1.5;
$popover-color: -webkit-gradient(linear, left top, left bottom, from(#3fc0f6), to(#1a7ea8));
$popover-active-color: -webkit-gradient(linear, left top, left bottom, from(#e47f55), to(#c1410b));
$popover-box-shadow: 0 0 6px rgba(0, 0, 0, 1);

$popover-tip-size: 14px;
$popover-tip-color: -webkit-gradient(linear, left top, right bottom, from(#3dbdf3), to(#33abdd), color-stop(50%, #3dbdf3));
$popover-tip-inverted-color: -webkit-gradient(linear, left top, right bottom, from(#ec875d), to(#e47f55), color-stop(50%, #e47f55));

$opts-color: -webkit-gradient(linear, left top, left bottom, from(#bbb), to(#888));
$opts-active-color: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#555));

$popover-radius: 6px;

@mixin popover-transition {
	-webkit-transform-origin: 0 0;
	-webkit-transition: -webkit-transform 150ms linear;
	-webkit-backface-visibility: hidden;
}

.fip-popover {
	bottom: -($popover-offset);
	left: -1px;
	display: inline-block;
	position: absolute;
	font: $popover-font;
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	font-weight: bold;
	pointer-events: auto;
	-webkit-transform-origin: 0 0;
	
	/* Disable Loupe */
	-webkit-user-select: none;
	
	* {
		display: inline-block;
	
		/* Disable Loupe */
		-webkit-user-select: none;
	}

	ul {
		-webkit-border-radius: $popover-radius;
		position: relative;
		z-index: 100;
		width: $popover-width;
		
		li {
			text-align: center;
			padding: 0;
			width: 50%;
			height: $popover-height;
			line-height: $popover-height;
			-webkit-box-sizing: border-box;
			-webkit-border-radius: $popover-radius;
		}
		
		&:first-child {
			background: $popover-color;
			-webkit-box-shadow: $popover-box-shadow;
			
			li {
				background: $popover-color;
				border-right: 1px solid rgba(0, 0, 0, 0.1);
				border-left: 1px solid rgba(255, 255, 255, 0.1);

				&:first-child:before {
					top: -($popover-tip-size / 2);
					left: 10px;
					position: absolute;
					z-index: -1;
					width: $popover-tip-size;
					height: $popover-tip-size;
					background: $popover-tip-color;
					content: "";
					-webkit-transform: rotate(45deg);
					-webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
					pointer-events: none;
				}

				&:first-child {
					border-left: 0;
					-webkit-border-top-right-radius: 0;
					-webkit-border-bottom-right-radius: 0;
				}

				&:last-child {
					border-right: 0;
					-webkit-border-top-left-radius: 0;
					-webkit-border-bottom-left-radius: 0;
				}

				&.fip-hover {
					background: $popover-active-color;
				}

				&:first-child.fip-hover:before {
					background: $popover-tip-inverted-color;
				}
			}
		}
		
		&:last-child {
			left: $popover-margin;
			display: block;
			margin: 0;
			width: $popover-width - ($popover-margin * 2);
			z-index: 90;
			position: absolute;
			
			li {
				padding: 0;
				-webkit-border-top-left-radius: 0;
				-webkit-border-top-right-radius: 0;
				height: $popover-height * 0.8;
				line-height: $popover-height * 0.8;
				position: relative;
				text-align: left;

				-webkit-transform: translate3d(0, -100%, 0);
				@include popover-transition;

				&:first-child {
					padding: 0 ($popover-radius * 4) 0 $popover-radius;
					background: $opts-color;
					-webkit-box-shadow: $popover-box-shadow;
					display: inline-block;
					z-index: 100;
					color: rgba(255, 255, 255, 0.9);
					min-width: 100%;
					white-space: nowrap;
					font-size: 0.7em;
					text-align: center;
					-webkit-box-sizing: border-box;
					
					&:hover {
						background: $opts-active-color;
					}
					
					&:after {
						padding: 0 5px;
						content: "\25BC";
						position: absolute;
						top: 0;
						right: 0;
						height: 100%;
						background: rgba(0, 0, 0, 0.1);
						font-size: 0.7em;
						-webkit-border-bottom-right-radius: $popover-radius;
					}
					
					span {
						&:nth-child(1):before {
							content: counter(results);
						}
						
						&:nth-child(2):before {
							content: attr(data-total-results);
						}
					}
				}
				
				.fip-search {
					-webkit-transform: translate3d(0, -100%, 0) scale(0.35);
					@include popover-transition;
				
					fieldset {
						margin-left: 0;
						margin-right: 0;
					}
				}
			}

			&.fip-drawer {
				li:first-child {
					-webkit-transform: translate3d(0, 0, 0);
				}
			}
			
			&.fip-search-active {
				.fip-search {
					-webkit-transform: translate3d(0, 0, 0) scale(1);
				}
			}
		}
	}

}

/* Right Aligned */
.fip-popover-right {
	right: -1px;
	left: auto;
	
	li {
		&:first-child:before {
			display: none;
		}

		&:last-child:before {
			top: -($popover-tip-size / 2);
			right: 10px;
			position: absolute;
			z-index: -1;
			width: $popover-tip-size;
			height: $popover-tip-size;
			background: $popover-tip-color;
			content: "";
			-webkit-transform: rotate(45deg);
			-webkit-box-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
			pointer-events: none;
		}
		
		&:last-child.fip-hover:before {
			background: $popover-tip-inverted-color;
		}
	}
}

/* Left Bottom Aligned */
.fip-popover-bottom {
	top: -($popover-offset);
	bottom: auto;
	
	li {
		&:first-child:before, &:last-child:before {
			bottom: -($popover-tip-size / 2);
			top: auto;
			background: -webkit-gradient(linear, left top, right bottom, from(#238ebb), to(#127098), color-stop(50%, #1b7fa9));
		}

		&:first-child.fip-hover:before, &:last-child.fip-hover:before {
			background: -webkit-gradient(linear, left top, right bottom, from(#ca521f), to(#ae3a08), color-stop(50%, #c1420c));
		}
	}
}
